
/* IMPORT FONTS */
@import "../../fonts/fonts.css";

@import "../../utils/color.css";


body{
    padding: 0;
    margin: 0;
    background: rgba(21, 34, 44);
}

input:focus, input:active{
    outline: none;
}

section[Authorization]{
    color:#fff;
    display: grid;
    place-content: center;
    place-items: center;
    height: 100vh;
}

interface[auth]{
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    grid-template-rows: 54px 40px auto auto auto auto minmax(50px, max-content);
    grid-gap: 16px;
    max-width: 210px;
}
interface[auth] > logo[callapp]::after {
    content: "";
    background: url("../../../images/callapp2.svg") no-repeat center;
    background-size: 100%;
    height: 100px;
    display: block;
}

interface[auth] > .auth-title{
    text-align: center;
    font-family: BPG;
    font-size: 15px;
    font-weight: 400;
}


interface[auth] > input {
    font-family: BPG;
    font-size: 12px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    background:transparent;
    color: #fff;
    width: 210px;
    min-width: 180px;
    height: 37px;
    padding: 5px 7px;
}
interface[auth] > input::placeholder{
    color:#fff
}
interface[auth] > button {
    font-size: 12px;
    font-family: BPG;
    border: none;
    box-sizing: border-box;
    color: #fff;
    height: 37px; 
    background: #FD0A50;
    border-radius: 4px;
}
interface[auth] > button:hover{
    cursor: pointer;
}

callback{
    font-family: BPG2;
    font-size: 12px;
}


rembo {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 70px solid red;
    position: relative;
    top: -50px;
  }
  rembo:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 70px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid red;
  }