interface[incomming]{
    display: grid;
    height: 100%;
    grid-auto-flow: column dense;
    grid-template-columns: auto auto 1fr;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    gap: 10px;
    overflow: hidden;
}



/* ----------------------------------------------
    RIG INTERFACE 
*/
interface[queue]{
    display: grid;
    width: 252px;
    grid-auto-flow: column dense;
    grid-template-columns: max-content;
    overflow-y: auto;
    order: 1;
    background-color: var(--block-bg-color);
}

/**
    SOURCE LIST
*/
interface[queue] block[name=source]{
    width: 40px;
    box-sizing: border-box;
    padding-top: 20px;

    /* GRID */
    display: grid;
    justify-content: center;
    align-items: baseline;
    grid-template-rows: repeat(auto-fit, minmax(22px, max-content));
    grid-gap: 20px;

    /* PROP */
    border-right: 1px solid var(--source-line);
    border-top-left-radius: var(--radius);
    

}

interface[queue] block[name=source] span[active]{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-bottom: 46px;
}

interface[queue] block[name=source] icon{
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: brightness(0.6);
}

interface[queue] block[name=source] icon:hover{
    cursor: pointer;
}

interface[queue] block[name=source] icon[active=true]::after{
    content: '';
    width: 3px;
    height: 1px;
    background-color: var(--source-line);
    position: absolute;
    right: -3px;
}

interface[queue] block[name=source] icon[active=true]{
    transition: transform .2s;
    transform: scale(1.3);
    filter: brightness(1);
}

/**
    RIG LIST
*/
interface[queue] block[name=list]{
    display: grid;
    grid-auto-flow: row dense;
    grid-template-rows: repeat(auto-fit, minmax(22px, max-content));
    padding: 20px 0 10px;
    gap: 20px;
}

/* SEARCH SECTION */
interface[queue] block[name=list] div[name="search"]{
    display: flex;
    align-items: center;
    margin: 0 8px;
}

interface[queue] block[name=list] div[name="search"] input{
    height: 20px;
    padding: 2px 10px;
    width: 80%;
    background: var(--dashboard-bg-color);
    border: 0.5px solid var(--text-color);
}


/* TAKEN AND WAITER SECTIONS */
interface[queue] block[name=list] div[name="taken"], 
interface[queue] block[name=list] div[name="waiter"]{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

interface[queue] block[name=list] div[name="taken"] span[type="title"], 
interface[queue] block[name=list] div[name="waiter"] span[type="title"]{
    display: block;
    font-size: 12px;
    font-family: 'BPG2';
    margin-bottom: 10px;
    margin-left: 8px;
    color: #777777
}

interface[queue] block[name=list] conv {
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    grid-template-columns: 35px auto 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    font-family: 'BPG2';
    user-select: none;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 8px;

    max-height: 45px;
    overflow: hidden;
}

interface[queue] block[name=list] conv[actived]{
    background-color: var(--dashboard-bg-color)
}

interface[queue] block[name=list] conv:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}
interface[queue] block[name=list] conv > img {
    width: 35px;
    border-radius: 2px;
}

interface[queue] block[name=list] conv > div[name="group-1"]{
    display: grid;
    grid-auto-flow: row;
}

interface[queue] block[name=list] conv > div[name="group-1"] span[name="name"]{
    font-size: 12px;
    color: #777777;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
interface[queue] block[name=list] conv > div[name="group-1"] span[name="lastmessage"] {
    font-size: 10px;
    color: #C1C1C1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


interface[queue] block[name=list] conv > div[name="group-2"]{
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
}

interface[queue] block[name=list] conv > div[name="group-2"] span[name="datetime"]{
    font-size: 10px;
}
interface[queue] block[name=list] conv > div[name="group-2"] span[name="newmessage"]::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    display: grid;
    place-content: center;
    width: 6px;
    height: 12px;
    transition: var(--transition);
    font-size: 10px;
}

interface[queue] block[name=list] conv > div[name="group-2"] span[name="newmessage"][aria-status=true]::after{
    content: "\f077";
    color: var(--green)
}
interface[queue] block[name=list] conv > div[name="group-2"] span[name="newmessage"][aria-status=false]::after{
    content: "\f078";
    color: var(--red)
}


/* ----------------------------------------------
    workground INTERFACE 
*/
interface[workground]{
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: min-content;
    order: 3;
    gap: 10px;
    margin: 10px 10px 10px 0;
    overflow: auto;
}


interface[workground] div[fieldset]{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-flow: row dense;
    
}

interface[workground] div[fieldset] field > input {
    width: -webkit-fill-available;
}

interface[workground] div[fieldset] .k-datepicker, interface[workground] div[fieldset] .k-timepicker {
    width: unset;
}

interface[workground] div[fieldset] .k-dropdown, interface[workground] div[fieldset] .k-dropdowntree{
    width: unset;
}



/* TAB  STYLEING*/

tab[fieldset] {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

tab[fieldset] > item {
    font-size: 12px;
    font-family: 'BPG2';
    padding: 3px 0;
}

tab[fieldset] > item:hover{
    cursor: pointer;
}

tab[fieldset] > item[actived]{
    border-bottom: 2px solid #777777;
}

tabcontent {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-flow: row dense;
    row-gap: 20px;
}

tab[incomming]{
    display: flex;
    background-color: var(--block-bg-color);
    border-radius: 7px;
    height: 60px;
    padding:14px;
    box-sizing: border-box;
    gap: 25px
}

tab[incomming] > item {
    --stroke: var(--sky);
    --fill: var(--sky);
    display: flex;
    padding: 8px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: 'BPG';
    border-radius: 35px;
    gap: 13px
}

tab[incomming] > item:not([actived=true]){
    background-color: var(--dashboard-bg-color);
    border-radius: 100%;
}

tab[incomming] > item:hover{
    cursor: pointer;
}

tab[incomming] > item[actived=true] {
    background-color: var(--sky);
    --stroke: #fff;
    --fill: #fff;
    color: #fff;
}
tab[incomming] > item[actived=true] svg {
    margin-left: 5px;

}
tab[incomming] > item > span {
    /* transition: all 2s linear; */
    margin-right: 5px;
}



/* ----------------------------------------------
    chatpanel INTERFACE 
*/

interface[chatpanel]{
    width: 361px;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-rows: 60px 1fr 160px;
    order: 2;
    margin: 10px 0;
    gap: 10px;
}

interface[chatpanel] chathead {
    display: grid;
    grid-template-columns: max-content 1fr 40px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    font-family: 'BPG2';
    gap: 2px 15px;
}
interface[chatpanel] chathead span[name=name]{
    font-size: 15px;
}

interface[chatpanel] chathead span[name=toggle]{
    display: flex;
    align-items: center;
    justify-content: center;
}

interface[chatpanel] chathead span[name=toggle] svg {
    --fill: #fff;
    --stroke: var(--sky);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: .5s ease-in-out;
}

interface[chatpanel] chathead span[name=toggle][actived] svg {
    transform: rotate(180deg);
}

interface[chatpanel] chathead span[name=toggle] svg:hover{
    cursor: pointer;
    --fill: var(--sky);
    --stroke: #fff
}
interface[chatpanel] chathead span[name=icons]{
    display: flex;
    height: 26px;
    gap: 7px;
}
interface[chatpanel] chathead span[name=icons] icon > svg{
    background-color: #fff;
    --fill: var(--sky);
    padding: 5px;
    border-radius: 100px;
}
interface[chatpanel] chathead span[name=icons] icon[actived] > svg{
    background-color: var(--sky);
    --fill: #fff
}
interface[chatpanel] chathead span[name=icons] icon > svg:hover{
    cursor: pointer;
    background-color: var(--sky);
    --fill: #fff
}

interface[chatpanel] chathead span[name=whois]{
    font-size: 10px;
}


interface[chatpanel] chatfooter {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

interface[chatpanel] chatfooter editor {
    background-color: var(--block-bg-color);
    display: block;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

interface[chatpanel] chatfooter > div[name="address"]{
    display: block;
    background-color: var(--block-bg-color);
    height: 30px;
    border-bottom: 1px solid var(--dashboard-bg-color);
    border-radius: 6px;
}

interface[chatpanel] chatfooter > div[name="tools"]{
    display: flex;
    background-color: var(--block-bg-color);
    height: 40px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'BPG2';
}

interface[chatpanel] chatfooter > div[name="tools"] span[name=template]{
    color: #BEBEBE;
    text-decoration: underline;
}

interface[chatpanel] chatfooter > div[name="tools"] span[name=send]{
    background-color: var(--sky);
    color: #fff;
    min-width: 40px;
    padding: 5px 12px;
    text-align: center;
    font-family: 'BPG';
    border-radius: 3px;
    --stroke: #fff;
    --fill: transparent;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 12px
}
interface[chatpanel] chatfooter > div[name="tools"] span[name=send] svg {
    transform: rotate(45deg);
    margin-left: 6px;
}

interface[chatpanel] chatfooter > div[name="tools"] span[name=send]:hover, interface[chatpanel] chatfooter > div[name="tools"] span[name=template]:hover{
    cursor: pointer;
    filter: brightness(95%)
}

interface[chatpanel] chatbody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    overflow-x: hidden;
    min-height: 75px;
    contain: strict;
}

interface[chatpanel] chatbody > message {
    display: grid;
    grid-template-columns: 25px 1fr;
    padding: 5px 7px;
    position: relative;
    gap: 10px;
    min-width: 250px;
    font-family: 'BPG2';
    font-size: 12px;
}

interface[chatpanel] chatbody > message[type=income]{
    align-self: flex-start;
    margin-right: 20px;
}

interface[chatpanel] chatbody > message[type=sent]{
    align-self: flex-end;
    direction: rtl;
    margin-left: 20px;
}

interface[chatpanel] chatbody > message > avatar {
    align-self: end;
}

interface[chatpanel] chatbody > message > avatar > img{
    width: 26px;
    border-radius: 100px;
}
interface[chatpanel] chatbody > message > content {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto 1fr;
    gap: 10px;
    align-items: center;
    direction: ltr;

    background-color: var(--block-bg-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 10px;

}

interface[chatpanel] chatbody > message > content > span[name=name]{
    font-family: 'BPG2';
    color: #3853AD;
    font-size: 12px;
}

interface[chatpanel] chatbody > message > content > span[name=datetime]{
    font-family: 'BPG2';
    color: #3853AD;
    font-size: 12px;
}

interface[chatpanel] chatbody > message > content > span[name=option]{
    font-family: 'BPG2';
    color: #3853AD;
    font-size: 12px;
    font-family: 'WebComponentsIcons';
}

interface[chatpanel] chatbody > message > content > span[name=message]{
    grid-column: auto / span 3;
}