#section__content {
    position: relative;
    width: 96.3%;
    height: 600px;
    top: 70px;
    padding: 15px;
    margin: 0;
    background: #fff;
    border: 0 !important;
    border-radius: 5px;
    box-shadow: none;
    font-size: 12px;
    font-family: BPG_baner;
    display: block;
}
#content_tabs li {
    display: inline-block;
    font-family: BPG
}
#content_tabs li {
    padding: 7px 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid transparent;
}
#content_tabs li:hover {
    cursor: pointer
}
#content_tabs li[aria-selected=true]{
    background-color: #FEF400;
    border: 1px solid #ebef16;
}

.kendoButton__add {
    transition: all 0.5s ease;
    background: linear-gradient(to right, #00a651 50%,transparent 50%);
    margin: 4px;
    background-size: 201% 100%;
    padding-right: 17px;
    background-position: right bottom;
    display: inline-flex;
    border-radius: 18px;
}
.kendoButton__add::before {
    content: '';
    background: url("../../images/icons/plus.png") no-repeat;
    width: 28px;
    height: 84%;
    display: inherit;
}
.kendoButton__add:hover{
    background-position:left bottom;
    color:white;
}

.kendoButton__trash {
    transition: all 0.5s ease;
    background: linear-gradient(to right, #e50808 50%,transparent  50%);
    margin: 4px;
    background-size: 201% 100%;
    padding-right: 17px;
    background-position: right bottom;
    display: inline-flex;
    border-radius: 18px;
}
.kendoButton__trash::before {
    content: '';
    background: url("../../images/icons/trash.png") no-repeat;
    width: 28px;
    height: 84%;
    display: inherit;
}
.kendoButton__trash:hover{
    background-position:left bottom;
    color:white;
}
.k-pager-numbers-wrap {
    z-index: 1;
}

.dialog_table {
    display: flex; 
    justify-content: center;
}
.dialog_table td {
    padding: 7px;
}

.empty-list {
    padding: 5px 9px;
    background: antiquewhite;
    width: 100%;
    display: block;
    text-align: center;
    font-style: italic;
}

.k-content span{
    float: unset !important; 
    margin-right: unset !important; 
    height: unset !important;
    font-size: 12px;
}
.k-content .k-input {
    padding-left: 10px !important;   
}

 .k-list-filter {
    min-height: unset !important;
    padding: 0 8px !important;
}
 .k-icon.k-i-zoom{
    margin-top: -0.5em !important;
}

/* .k-reset {
    padding-top: 0;
} */


div[data-role=grid]{
    font-size: 11px;
}


/* RELOCATE CALL FOR USERS */

#relocateUserCall {
    margin: 0 auto;
}

#relocateTable {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin: 13px 0px;
    border: 1px solid #c5c5c5;
    text-align: center;
    color: #2e2e2e;
    font-family: BPG !important;
    font-size: 11px;
}

#relocateTable thead{
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,0.25) 0,rgba(255,255,255,0) 100%);
    background-position: 50% 50%;
    background-color: #eae8e8;
    line-height: 25px;
}
#relocateTable th {
    text-align: center;
    padding: 11px;
}

#relocateTable tr:hover{
    background-color: rgba(0,0,0,.07);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,0.25) 0,rgba(255,255,255,0) 100%);
}

#relocateTable thead:hover{
    background-color: unset;
}

#relocateTable td {
    text-align: center;
    padding: 7px;
    border: 1px solid #c5c5c5;
    vertical-align: middle;
}

.release-input {
    width: 100%;
    border: 0 !important;
    text-align: center;
    height: 26px;
}