interface[flashpanel] {
    width: 60px;
    background-color: var(--block-bg-color);
    display: grid;
    grid-auto-flow: row dense;
    justify-content: center;
    align-items: center;
    z-index: 1;
    grid-template-rows: repeat(auto-fit, minmax(32px, max-content));
    gap: 10px;
    padding-top: 20px;
    margin-right: -3px;
}

interface[flashpanel] > icon[svg]:hover {
    cursor: pointer;
}

/* FLASPANEL CONTENT */

interface[flashpanel-content]{
    position: fixed;
    background-color: var(--dashboard-bg-color);
    right: 70px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    min-width: 317px;
    gap: 10px;
    grid-auto-flow: column;
    height: 75vh;
    overflow: auto;
    max-width: 85vw;
    grid-template-columns: auto auto;
    z-index: 1;
    user-select: none;
}

interface[flashpanel-content] .avatar {
    width: 26px;
    border-radius: 100%;
}

interface[flashpanel-content] .operator, interface[flashpanel-content] .author {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-auto-flow: column;
    grid-template-columns: min-content;
    grid-template-rows: 44px;
}

interface[flashpanel-content] .extension {
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 2px;
    justify-self: flex-end;
}

interface[flashpanel-content] .name {
    color: var(--text-color);
}

interface[flashpanel-content] .account {
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 2px;
}

interface[flashpanel-content] .source svg[key=phone]{
    --fill: #3fb969;
}