section[header]{
    background-color: var(--white);
    height: 60px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 3%);
    display: flex;
    align-items: center;
    padding: 0px 9px;
    box-sizing: border-box;
    justify-content: space-between;
    /* position: fixed; */
    z-index: 4;
    /* width: 100%; */
    /* top: 0;*/
}

section[header] > logo[callapp]::after {
    content: "";
    background: url("../../images/callapp.svg") no-repeat center;
    background-size: 100%;
    height: 35px;
    width: 112px;
    display: block;
}


section[header] > interface[user]{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40px 40px auto;
    grid-gap: 10px;
    height: 42px;
    place-items: flex-start;
    user-select: none;
}


section[header] > interface[user] > drop{
    position: relative;
    display: grid;
    place-items: center;
    grid-template-rows: 42px auto;
    cursor: pointer;
    margin-right: 1px;
}

section[header] > interface[user] > drop > content{
    transition: 0.3s;
    padding: 6px 20px;
}

section[header] > interface[user] > drop > content:hover menu > .menuheader div:first-child > span[name=username]{
    color: var(--sky);
}


section[header] > interface[user] > drop > hidecontent{
    width: 210px;
    position: absolute;
    top: 61px;
    background-color: var(--block-bg-color);
    border-radius: 5px;
    margin-right: 0px;
    font-size: 11px;
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.05));
    display: none;
}
section[header] > interface[user] > drop icon:hover{
    cursor: pointer;
}
section[header] > interface[user] > drop icon[name=webChat]{
    fill: none
}
section[header] > interface[user] > drop icon[name=webChat]:hover{
    --stroke-dark: #fc54b0;
    fill: #fc54b05f
}



section[header] > interface[user] > drop icon[name=notification][aria-new=true]::after{
	content: '';
    background-color: #FD0A50;
    width: 6px;
    height: 6px;
    display: inline-block;
    right: 7px;
    top: 5px;
    position: absolute;
    border-radius: 15px;
}

section[header] > interface[user] > drop menu{
	display: grid;
	grid-auto-flow: row;
	font-size: 12px;
	font-family: 'BPG';
	grid-gap: 10px;
	place-items: center;
	grid-template-columns: auto;
}

section[header] > interface[user] > drop menu > .menuheader{
    display: grid;
	grid-auto-flow: column;
	font-size: 12px;
	font-family: 'BPG';
	grid-gap: 10px;
	place-items: center;
	grid-template-columns: auto 35px;
}

section[header] > interface[user] > drop menu > .menuheader::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    display: grid;
    place-content: center;
    width: 16px;
    height: 16px;
    transition: var(--transition);
    font-size: 13px;
}

section[header] > interface[user] menu[aria-open=false] > .menuheader::after {
	content: "\f078";
}
section[header] > interface[user] menu[aria-open=true] > .menuheader::after {
	content: "\f077";
}

section[header] > interface[user] > drop menu > .menuheader div:first-child {
	grid-auto-flow: row;
	display: grid;
}

section[header] > interface[user] > drop menu > .menuheader div:first-child > span[name=username]{
	font-size: 12px;
}

section[header] > interface[user] > drop menu > .menuheader div:first-child > span[name=status]{
	font-size: 10px;
	text-align: right;
	font-family: "BPG2";
	color: #9C9C9C;
}

section[header] > interface[user] > drop menu > .menuheader div[name=photo] {
	position: relative;
	overflow: hidden;
}
section[header] > interface[user] > drop menu > .menuheader div[name=photo] img {
	width: 100%;
}