

/* GRID ATTRIBUTES */

*[grid-row="1"] {
    grid-row: auto / span 1;
    max-height: 102px;
}

*[grid-row="2"] {
    grid-row: auto / span 2;
    max-height: 215px;
    min-height: 215px;
}

*[grid-row="2"] content {
    max-height: 155px;
}

*[grid-row="3"] {
    grid-row: auto / span 3;
    min-height: 327px;
}

*[grid-row="4"] {
    grid-row: auto / span 4;
}

*[grid-row="6"] {
    grid-row: auto / span 6;
    overflow-y: overlay;
    max-height: calc(2 * 332px)
}

*[grid-column="1"] {
    grid-column: auto / span 1;
}

*[grid-column="2"] {
    grid-column: auto / span 2;
}

*[grid-column="3"] {
    grid-column: auto / span 3;
}

*[grid-column="4"] {
    grid-column: auto / span 4;
}

*[grid-column="max"] {
    grid-column: 1 / -1;
}

[name='list'][grid-row="3"]{
    max-height: 327px;
}


@media only screen and (max-width: 933px) {
    *[grid-column="2"] {
        grid-column: auto / span 1;
    }
}

/* END GRID SET */


[hidden] {
    display: none;
}


.remove-scroll {
    overflow: hidden !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}