@-webkit-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; 
  } 
}

@keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; 
  } 
}

loading[ball] {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #385299;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block;
  height: 60px;
  width: 60px;
  -webkit-animation: ball-scale 2s 0s ease-in-out infinite;
          animation: ball-scale 2s 0s ease-in-out infinite; 
}


loading[callapp-text]{
  display: flex;
  user-select: none;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  /* text-shadow: 2px 2px 3px rgb(0 0 0 / 28%); */
  text-shadow: var(--text-shadow);
  font-size: 127px;
  font-family: 'BPG2';
  color: var(--block-bg-color)
}


live-circle{
  position: absolute;
  margin-top: 1px;
  margin-left: 7px;
}
live-circle[actived=false]::before, live-circle[actived]::before{
  content: '';
  display: block;
  font-size: 12px;
  background-color: burlywood;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
live-circle[actived=true]::before{
  content: '';
  display: inline-block;
  font-size: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--green3);
  box-shadow: 0 0 0 0 var(--green3);
  animation: pulse-white 2s infinite;
  transform: scale(1);
}

@keyframes pulse-white {
  0% {
      /* transform: scale(0.95); */
      box-shadow: 0 0 0 0 rgba(86, 198, 149, 0.7);
  }
  
  70% {
      /* transform: scale(1); */
      box-shadow: 0 0 0 10px rgba(86, 198, 149, 0);
  }
  
  100% {
      /* transform: scale(0.95); */
      box-shadow: 0 0 0 0 rgba(86, 198, 149, 0);
  }
}

[data-margin] {
  margin: attr(data-margin)
}



icon[loading] .loader {
  zoom: 0.5
}
icon[loading] .loader .wrapper {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
icon[loading] {
  width:90vw;
  position: relative;
}
icon[loading] t {
  color: rgb(163, 163, 163);
  font-size: 58px;
  font-family: sans-serif;
  margin-top: -53px;
  position: absolute;
  margin-left: -2px;
  letter-spacing: 2px;
  z-index: 2222;
  width: 200px;
}
icon[loading] .wrapper span {
  width:8px;
  height:8px;

  display:inline-block;
  position:relative;
  margin:0px 2px;
  border-radius:50%;
  opacity:0;
  animation:loading 3000ms ease-in-out infinite;
}
icon[loading] .wrapper span:nth-child(8) {
  animation-delay:100ms;
}
icon[loading] .wrapper span:nth-child(7) {
  animation-delay:200ms;
}
icon[loading] .wrapper span:nth-child(6) {
  animation-delay:300ms;
}
icon[loading] .wrapper span:nth-child(5) {
  animation-delay:400ms;
}
icon[loading] .wrapper span:nth-child(4) {
  animation-delay:500ms;
}
icon[loading] .wrapper span:nth-child(3) {
  animation-delay:600ms;
}
icon[loading] .wrapper span:nth-child(2) {
  animation-delay:700ms;
}
icon[loading] .wrapper span:nth-child(1) {
  animation-delay:800ms;
}
@keyframes loading {
  0% {
    transform:translateX(-350px);
    opacity:0;
  }
  35%,60% {
    transform:translateX(0px);
    opacity:1;
  }
  80% {
    transform:translateX(70px);
    opacity:0;
  }
  100% {
    transform:translateX(10px);
    opacity:0;
  }  
}



overflow[type="blur"] {
  position: fixed;
  background-color: #73737330;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
}