:root {
    --white: #FFF;
    --dashboard-bg-color: #F7F6FF;
    --block-bg-color: #FFF;
    --text-color: #404040;
    --gray: #444444;
    --green: #02BB62;
    --green2: #3fb969;
    --green3: #56c695;
    --pink: #FF005C;
    --red: #ff0037;
    --orange: #FEB019;
    --dark-sky: #0d1340;
    --sky: #1E88E5;
    --light-sky: #DBEEFF;
    --dark-blue: rgb(53, 79, 166);
    --menu-text: #ffffff;
    --menuitem: #ffffff;
    --transition: .2s;
    --text-shadow: 3px 8px 0px rgb(0 0 0 / 28%);
    --fill: #FFFFFF;
    --stroke: #FFFFFF;
    --stroke-dark: #404040;
    --fill-dark: #404040;
    --primary-button: #1E88E5;
    --secondary-button: #1E88E5;
    --radius: 4px;
    --source-line: #f5f5f5
}

.fg-gray::before, .fg-gray::after {
    color: var(--gray);
}

.fg-green::before, .fg-green::after {
    color: var(--green);
}

.fg-pink::before, .fg-pink::after {
    color: var(--red);
}

.fg-orange::before, .fg-orange::after {
    color: var(--orange);
}