.hide-element {
    display: none
}
.max-content {
    height: max-content !important;
}


button {
  height: 35px;
  background-color: var(--primary-button);
  color: var(--white);
  padding: 0 20px;
  border-radius: 3px;
  border: none;
  font-family: 'BPG';
  font-size: 12px;
}

button[disabled] {
  background-color: #ddd;
}

button[disabled]:hover{
  background-color: #ddd;
}

button:hover {
  cursor: pointer;
  background-color: #0874D3;
}

button:active{
  background-color: #0b61ac;
}

div[fieldset] {    
  padding: 53px 10px 10px;
  background-color: var(--block-bg-color);
  border: none;
  border-radius: 4px;
  position: relative;
  
}

div[fieldset]::before {
  content: attr(title);
  position: absolute;
  margin: 10px;
  font-size: 15px;
  font-family: 'BPG';
  color: #1E88E5;
  top: 0;
  left: 0
}