.k-grid, .k-grid-header {
    font-size: 12px;
    font-family: BPG2;
}



.k-grid-header .k-header>.k-link {
    display: unset;
}


/* SPINNER */
.k-i-loading::after, .k-i-loading::before, .k-loading-image::after, .k-loading-image::before{
    border-color: #ff0000; /* #EE575E; */
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;
}


kendo[no-data]{
    color: #969696;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 109px;
}

.k-grid-norecords-template{
    border: none
}

.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap{
    border: initial
}

.k-multiselect{
    width: 200px;
    font-size: 12px;
    font-family: 'BPG2';

}
/* .k-dropdown {
    height: 35px;
    font-size: 12px;
    font-family: 'BPG2';
    margin-bottom: 0;
}
.k-textbox {
    border: 1px solid #969696;
    box-shadow: none;
}

.k-dropdown .k-dropdown-wrap{
    border-radius: 5px;
}
.k-dropdown .k-dropdown-wrap .k-input, .k-dropdowntree .k-dropdown-wrap .k-input{
    padding: 8px 8px;
    height: inherit;
}

.k-grid th{
    padding-bottom: 16px
}

.k-label span{
    margin-left: inherit;
}

.k-animation-container-shown, .k-animation-container>.k-popup{
    width: unset !important;
}

.k-i-arrow-60-down::before, .k-i-arrow-s::before, .k-i-collapse::before, .k-i-expand-s::before, .k-i-sarrow-s::before {
    content: "\e015";
}


.k-dropdown .k-dropdown-wrap .k-input, .k-dropdowntree .k-dropdown-wrap .k-input{
    color: #686868
} */

.k-i-filter::before {
    content: "\e031";
}

.k-grid-header .k-grid-filter, .k-grid-header .k-header-column-menu{
    bottom: 2px
}

.k-grid-toolbar {
    padding: 5px
}
.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap, .k-dropdowntree .k-multiselect-wrap, .k-multiselect .k-multiselect-wrap {
    border-radius: 5px;
    /* border-color: var(--text-color);
    background-color: var(--block-bg-color);
    color: var(--text-color);
    border: 1px solid; */
}
.k-dropdowntree .k-multiselect-wrap li, .k-multiselect .k-multiselect-wrap li, .k-input {
    font-size: 12px;
    font-family: 'BPG2';
    height: inherit;
    height: 35px;
}


.k-reset .k-multicheck-wrap .k-label span {
    margin-left: 10px;
}