@font-face {
  font-family: "BPG Arial";
  src: url("../../fonts/bpg_arial.eot");
  src: url("../../fonts/bpg_arial.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/bpg_arial.ttf") format("truetype"),
    url("../../fonts/bpg_arial.svg#JournalRegular") format("svg");
}

.callapps-sidemenu__container {
  background: #fafafa;
  padding: 0 1.3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 43px;
}

.active_comunication {
  border: 1px solid #ccc !important;
  /* width: 40px; */
  /* padding-right: 5px; */
  border-left: 0 !important;
  background: #f9f9f9;
  border-radius: 0 5px 5px 0;
  padding: 0;
}

.call-icons {
  background-size: 70% !important;
}

.comunication_bar {
  width: 40px;

  border: 1px solid transparent;
  border-left: 0;
}

.comunication_bar span {
  /* margin-right: 10px; */
}

#flesh_panel::-webkit-scrollbar-track, #section_active::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f4f4f4;
}

#flesh_panel::-webkit-scrollbar, #section_active::-webkit-scrollbar {
  width: 4px;
  background-color: #f4f4f4;
}

#flesh_panel::-webkit-scrollbar-thumb, #section_active::-webkit-scrollbar-thumb {
  background-color: #519ae3;
  background-image: -webkit-linear-gradient(45deg,
      #2681dc 25%,
      transparent 25%,
      transparent 50%,
      #2681dc 50%,
      #2681dc 75%,
      transparent 75%,
      transparent);
}

#flesh_panel {
  position: absolute;
  min-width: 1100px;
  background: #fff;
  top: 76px;
  right: 43px;
  /* padding: 15px; */
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
  opacity: 1;
  overflow: hidden;
  transition: width 0.3s, opacity 0.2s;
  font-family: "BPG Arial";
  font-size: 11px;
  height: 100%;
  max-height: 500px;
  overflow-y: scroll;
  direction: rtl;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  display: block;
}

#flesh_panel div {
  direction: ltr;
 
}

/* 
.fabtext{
    width: 8px;
    padding: 3px;
    text-align: center;
    border: solid 1px #ccc;
    font-size: 8px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -7px;
    right: -7px;
    padding-right:8px!important;
    z-index:1!important;
  }
   */

.comunication_bar .fabtext {
  min-width: 22px;
  max-height: 20px;
  z-index: 1;
  padding: 5px 3px;
  text-align: center;
  line-height: 11px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  right: 1px;
  background: #e60808;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 10px;
  font-weight: bold;
  border: 0 !important;
  color: #fff;
}

li[aria-controls] .fabtext {
  min-width: 20px;
  z-index: 1;
  padding: 4px;
  text-align: center;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0px;
  right: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  line-height: 11px;
  background: #e60808;
}

.comunication_bar>#viber_chat_count_open>span,
.comunication_bar>#fbm_chat_count_open>span,
.comunication_bar>#chat_count_open>span,
.comunication_bar>#mail_chat_count_open>span,
.comunication_bar>#fb_comments {
  border: 1px solid #eee;
  color: #fff;
  margin-top: -2px;
  /* width: 100%; */
  height: 50%;
}

.callapps-sidemenu__container ul li .call-icons {
  width: 100% !important;
  height: 5rem;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1rem;
  cursor: pointer;
  margin-left: 2px;
}

.flesh_tabs_wrap {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 70px 92px 145px 175px 70px 112px;
  background: #fafafa;
}

.flesh_tabs_wrap_fb {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 48px 134px 132px 93px 63px 64px;
  background: #fafafa;
}


.flesh_tabs_wrap_mail {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 152px 150px 100px 70px 80px;
  background: #fafafa;
}

.flesh_tabs_wrap_chat {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 96px 100px 130px 90px 80px 67px;
  background: #fafafa;
}

.flesh_tabs_wrap_queue {
  display: grid;
  grid-gap: 0px;
  text-align: center;
  grid-template-columns: 17% 55% 28%;
  justify-content: center;
  /* margin-top: 20px !important; */
  margin: 0;
}

.flash_phone {
  grid-template-columns: 7% 20% 20% 36% 17%;
}
.flash_phone2 {

}

.flesh_tabs {
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 3px 2px;
  align-items: center;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 30px;
}

.flesh_tabs>.flex {
  justify-content: center;
}

.flesh_tabs_title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(66, 66, 66);
  /* font-weight: bold; */
  /* margin-top: -16px; */
  background-color: #f9f9f9;
  /* border: 1px solid #ccc; */
  padding: 7px;
  border-bottom: none;
}

.viber_icon {
  background-image: url("../../images/icons/comunication/Viber.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3px;
  width: 16px;
  height: 16px;
  padding: 6px;
}

.chat_icon {
  background-image: url("../../images/icons/comunication/Chat.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  margin: 3px;
  width: 16px;
  height: 16px;
  padding: 6px;
}

.phone_icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3px;
  width: 16px;
  height: 16px;
  padding: 6px;
}

.fb_icon {
  background-image: url("../../images/icons/comunication/Messenger.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3px;
  width: 16px;
  height: 16px;
  padding: 6px;
}

.fbc_icon {
  background-image: url("../../images/icons/comunication/fb_comments.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3px;
  width: 16px;
  height: 16px;
  padding: 6px;
}

.mail_icon {
  background-image: url("../../images/icons/comunication/E-MAIL.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3px;
  width: 16px;
  height: 16px;
  padding: 6px;
}

.flesh_th {
  border-right: 1px solid #ccc;
}
.flesh_th:last-child{
  /* margin-right: -1px; */
}

.flesh_tabs_queue:nth-child(1){
  /* border-right: 1px solid #ccc; */
  /* border-left: none; */
}

.open_dialog {
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 6px 5px;
  align-items: center;
}

.flesh_tabs_queue {
  color: #000;
  padding: 7px 5px;
  border: 1px solid #ccc;
  display: grid;
  justify-items: center;
  margin-bottom: 0;
  grid-template-columns: auto;
  border-right: 0;
}

.flesh_queue {
  border-bottom: 1px solid #ccc;
  padding: 7px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-left: 1px solid #ccc;
}

.flesh_tabs_head {
  background-color: #f9f9f9;
  /* position: fixed; */
  /* margin-top: -15px; */
  margin-right: 0px;
  color: #000;
  /* border-bottom: 1px solid #ccc; */
}

.flesh_tabs_body {
  margin-top: 0;
  margin-right: 0;
  background: #fff;
  border-right: 1px solid #ccc;
}

.flesh_tabs_bodyq {
  /* margin-top: 20px; */
  margin-right: 0px;
  background: #fff;
}

.flesh_tabs_body div {
  color: #000;
}

.blink_counter {
  color: #fff !important;
  background: #fbad16;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  line-height: 17px;
  text-align: center;
  margin-top: -6px;
  margin-left: -6px;
  font-size: 9px;
}
.fb_color {
  background-color: #00B2FF;
  border-radius: 4px;
}
.chat_color {
  background-color: #F80AEA;
  border-radius: 4px;
}
.mail_color {
  background-color: #E81D42;
  border-radius: 4px;
}
.fbc_color {
  background-color: #3A559F;
  border-radius: 4px;
}
.viber_color {
  background-color: #8244B2;
  border-radius: 4px;
}

.country_icon {
  width: 30px;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
}


.browser_icon {
  width: 20px;
  height: 20px;
  background-position: center ;
  background-repeat: no-repeat;
  background-size: 14px;
  margin-left: 10px;
}


.duration_arrow {
  width: 14px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-left:10px; */
  float: right;
}

#section_active {
  float: left;
  height: 100%;
  margin-right: -1px;
  overflow-y: auto;
}
#section_waiting {
  overflow-y: auto;
}

.flesh_tabs_wrap_queue_active {
  display: grid;
  grid-gap: 0px;
  text-align: center;
  grid-template-columns: 70px 92px 145px 175px 70px 112px ;
  justify-content: center;
  margin-left: -1px;
}

.flesh_tabs_wrap_queue_active_fb {
  display: grid;
  grid-gap: 0px;
  text-align: center;
  grid-template-columns: 70px 141px 130px 103px 50px 70px;
  justify-content: center;
  margin-left: -1px;
}

.flesh_tabs_wrap_queue_active_mail {
  display: grid;
  grid-gap: 0px;
  text-align: center;
  grid-template-columns: 70px 141px 130px 103px 50px 70px;
  justify-content: center;
  margin-left: -1px;
}

.flesh_tabs_wrap_queue_active_chat {
  display: grid;
  grid-gap: 0px;
  text-align: center;
  grid-template-columns: 70px 141px 130px 103px 50px 70px;
  justify-content: center;
  margin-left: -1px;
}