field > input {
    border: 1px solid rgba(0, 0, 0, 0.151); /* var(--text-color); */
    border-radius: 4px;
    padding: 2px 10px;
    font-family: 'BPG2';
    font-size: 12px;
    height: 31px;
    /* background-color: var(--block-bg-color);
    color: var(--text-color) */
}


field {
    position: relative;
}

field::after{
    content: attr(title);
    position: absolute;
    left: 10px;
    top: -7px;
    font-family: 'BPG';
    font-size: 11px;
    background-color: #fff;
    padding: 0 4px;
    box-sizing: border-box;
}

field > input:not(:empty){
    border: 1px solid red
}


textarea {
    width: 100%;
    min-height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 4px;
    padding: 10px;
    font-family: 'BPG2';
    font-size: 12px;
    box-sizing: border-box;
}